tags
*tags
_site/
.jekyll-cache/
*/.jekyll-cache
.sass-cache/
.DS_Store
*.DS_Store
Gemfile.lock
package-lock.json
node_modules/
*.aux
*.fdb*
*.fls
*.log
*.out
*.sync*
*.xdv
*.bbl
*.bcf
*.blg
*.run.xml
