---
---

<style>
pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width:100%; overflow-x:auto;
}
ol li{
  padding: 0;
  list-style: none!important;
  list-style-type: none;
  padding-left: 0!important;
  margin: 0!important;
}
</style>

{% assign _allowed = "article inproceedings report unpublished" %}
{% if _allowed contains entry.type and entry.keywords != "nonheavy" %}
<div class="pub-entry">
<h3 class="visually-hidden" id="pub-{{ entry.key }}" data-pagefind-weight="4">{{ entry.title | default: entry.key }}</h3>
<div class="row">
<div class="col-sm-2 col-2 d-none d-md-block" style="margin:0; padding:0; margin-top:4px;">

{% if entry.type == "article" %}
<center><button class="btn btn-primary pub-type-badge Disabled">ARTICLE</button></center>
{% endif %}
{% if entry.type == "inproceedings" %}
<center><button class="btn btn-success pub-type-badge Disabled">PROCEEDING</button></center>
{% endif %}
{% if entry.type == "report" %}
<center><button class="btn btn-danger pub-type-badge Disabled">REPORT</button></center>
{% endif %}
{% if entry.type == "unpublished" %}
<center><button class="btn btn-warning pub-type-badge Disabled">PREPRINT</button></center>
{% endif %}

</div>

<div class="col-sm-10 col-10">
<div>
{{reference | replace_first: 'Radhakrishnan, A.', '<b>Radhakrishnan, A.</b>' | replace_first: 'Bati, A.', '<b>Bati, A.</b>' | replace_first: 'Le Berre, H. A.', '<b>Le Berre, H. A.</b>' | replace_first: 'Le Berre, H.', '<b>Le Berre, H.</b>' | replace_first: 'Zeng, Q.','<b>Zeng, Q.</b>' | replace_first: 'Kothari, Y.','<b>Kothari, Y.</b>' | replace_first: 'Panchal, A.', '<b>Panchal, A.</b>' | replace_first: 'Chrit, F. E.', '<b>Chrit, F. E.</b>' | replace_first: 'Kocherla, S.', '<b>Kocherla, S.</b>' | replace_first: 'Wilfong, B.', '<b>Wilfong, B.</b>' | replace_first: 'Sinha, A.', '<b>Sinha, A.</b>' | replace_first: 'Chu, T.', '<b>Chu, T.</b>' | replace_first: 'Song, Z.', '<b>Song, Z.</b>' | replace_first: 'Lee, M.', '<b>Lee, M.</b>', | replace_first: 'Gupta, A.', '<b>Gupta, A.</b>', | replace_first: 'Vickers, D. J.', '<b>Vickers, D. J.</b>' | replace_first: 'Prathi, T.', '<b>Prathi, T.</b>' | replace_first: 'Adam, D.', '<b>Adam, D.</b>' | replace_first: 'Yu, H.', '<b>Yu, H.</b>'}}</div>

<div style="margin-top:4px;">
{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}

{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-primary bib-btn">PDF</button></a>
{% endif %}

{% if entry.doi %}
<a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank"><button class="btn btn-info bib-btn">DOI</button></a>
{% endif %}

{% if entry.link %}
<a href="{{ entry.link }}" target="_blank"><button class="btn btn-info bib-btn">DOI</button></a>
{% endif %}

<button class="btn btn-info bib-btn" style="opacity:0.7;" onclick="toggleBibtex{{entry.key}}()">BIB</button>

{% if entry.abstract %}
<button class="btn btn-info bib-btn" style="opacity:0.7;" onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}
</div>

{% if entry.abstract %}
<div id="a{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" class="bib-panel" style="display:none;">
<pre>{{entry.abstract}}</pre>
</div>

</div>
</div>
</div>
{% endif %}

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x = document.getElementById('a{{entry.key}}');
    x.style.display = x.style.display === 'none' ? 'block' : 'none';
}
function toggleAbstract{{entry.key}}(parameter) {
    var x = document.getElementById('b{{entry.key}}');
    x.style.display = x.style.display === 'none' ? 'block' : 'none';
}
</script>
