---
---

<style>
pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
    <!-- background-color: red; -->
}
ol li{
  padding: 0;
  list-style: none!important;
  list-style-type: none;
  padding-left: 0!important;
  margin: 0!important;
}
</style>


<!-- primary, success, danger, warning-->

{% if entry.keywords contains "nonheavy" %}
{% else %}
<div class="text-justify">
<div class="row">
<div class="col-sm-2 col-xs-2 d-none d-md-block" style="margin:0; padding:0; margin-top:3px;">
<!-- <div class="col-sm-2 col-xs-2"> -->
{% if entry.type == "article" %}
<center><button class="btn btn-primary btm-sm Disabled" style="width:100%;border-radius:12px;">ARTICLE</button></center>&nbsp;&nbsp;
    
{% endif %}
{% if entry.type == "inproceedings" %}
<center><button class="btn btn-success btm-sm Disabled" style="width:100%;border-radius:12px;">PROCEEDING</button></center>
{% endif %}
{% if entry.type == "report" %}
<center><button class="btn btn-danger btm-sm Disabled" style="width:100%;border-radius:12px;">REPORT</button></center>
{% endif %}
{% if entry.type == "unpublished" %}
<center><button class="btn btn-warning btm-sm Disabled" style="width:100%;border-radius:12px;">PREPRINT</button></center>
{% endif %}
</div>

<div class="col-sm-10 col-xs-10">
<div class="row">
{{reference | replace_first: 'Radhakrishnan, A.', '<b>Radkhakrishnan, A.</b>' | replace_first: 'Bati, A.', '<b>Bati, A.</b>' | replace_first: 'Le Berre, H. A.', '<b>Le Berre, H. A.</b>' | replace_first: 'Le Berre, H.', '<b>Le Berre, H.</b>' | replace_first: 'Zeng, Q.','<b>Zeng, Q.</b>' | replace_first: 'Kothari, Y.','<b>Kothari, Y.</b>' | replace_first: 'Panchal, A.', '<b>Panchal, A.</b>' | replace_first: 'Chrit, F. E.', '<b>Chrit, F. E.</b>' | replace_first: 'Kocherla, S.', '<b>Kocherla, S.</b>' | replace_first: 'Wilfong, B.', '<b>Wilfong, B.</b>'}}</div>

{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}

{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-info btm-sm">PDF</button></a>
{% endif %}

{% if entry.doi %}
<a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button class="btn btn-info btm-sm">DOI</button></a>
{% endif %}

{% if entry.link %}
<a href="{{ entry.link }}" target="_blank"><button class="btn btn-info btm-sm">DOI</button></a>
{% endif %}

<!-- {% if entry.type == 'unpublished' and entry.arxiv %} -->
<!-- <a href="{{ entry.arxiv | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-info btm-sm">ARXIV</button></a> -->
<!-- {% endif %} -->

{% if entry.type == 'unpublished' or entry.type == 'article' or  entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'proceedings' or entry.type == 'report' %}
<button class="btn btn-info btm-sm"  onclick="toggleBibtex{{entry.key}}()">BIB</button>
{% endif %}

{% if entry.abstract %}
<button class="btn btn-info btm-sm"  onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}

{% if entry.abstract %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{entry.abstract}}</pre>
</div>
</div>

</div>
</div>
{% endif %}

<!-- {% if entry.url %} -->
<!-- <a href="{{ entry.url }}" target="_blank"><button class="btn btn-info btm-sm">VIDEO</button></a> -->
<!-- {% endif %} -->


<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
        x.style.backgroundColor = '#141617';
    } else {
        x.style.display = 'none';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
        x.style.backgroundColor = '#141617';
    } else {
        x.style.display = 'none';
    }
}
</script>
